$red: #d46066;
$blue: #6066d4;
$green: #60d494;
$yellow: #d4ce60;
$almostwhite: #aeafb1;
$transdark: rgba(18, 21, 29, .85);
$border: rgb(50, 50, 50);
$lightshade: rgb(46, 49, 54);
$darkshade: rgb(30, 33, 36);

// breakpoints

$wide: 900px;
$med: 700px;
$small: 500px;
$xs: 395px;
